{

  "extends": "airbnb",

  "parser": "babel-eslint",

  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },

  "ecmaFeatures": {
    "forOf": true,
    "jsx": true,
    "es6": true
  },

  "settings": {
    "import/resolver": {
      "webpack": {
        "extensions": [".js", ".jsx", ".json"]
      }
    }
  },

  "globals": {
    "$": false
  },

  "rules": {
    "comma-dangle": 0,
    "indent": [2, 2, { "SwitchCase": 1 }],
    "react/prop-types": 0,
    "object-curly-spacing": [2, "always"],
    "new-cap": [2, {
      "capIsNewExceptions": ["List", "Stack", "Map", "OrderedMap", "Set", "OrderedSet", "Record"]
    }],
    "react/jsx-key": 2,
    "no-script-url": 0,
    "no-use-before-define": 0,
    "array-callback-return": 0,
    "no-underscore-dangle": [2, { "allow": ["_id"] }]
  }

}
